.the-keyboard {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  user-select: none;
  --white-key-width: 10mm;
  --white-key-height: 150px;
  --black-key-width: calc(var(--white-key-width) * 3 / 4);
  --black-key-height: calc(var(--white-key-height) * 3 / 5);
  margin: 0 auto;
}

.the-keyboard * {
  box-sizing: border-box;
  display: inherit;
}

.the-keyboard__row {
  margin-left: auto;
  margin-right: auto;
}

.the-keyboard__row:last-of-type {
  margin-bottom: var(--ms1);
}

.the-keyboard__key-container {
  position: relative;
}

.the-keyboard__key {
  width: var(--key-width);
  height: var(--key-height);
  color: var(--key-color);
  box-shadow: var(--key-boxShadow);
  transition: 100ms;
  cursor: pointer;
}

.the-keyboard__key.--white {
  --key-width: var(--white-key-width);
  --key-height: var(--white-key-height);
  --key-color: black;
  --key-boxShadow: 0 7px 3px 0 rgba(0, 0, 0, 0.3);
  background-color: white;
  z-index: 1;
  border: solid 1px black;
  border-bottom: solid rgb(230, 230, 230) 20px;
}

.the-keyboard__key.--black {
  --key-width: var(--black-key-width);
  --key-height: var(--black-key-height);
  --key-boxShadow: 5px 1px 2px 0 rgba(0, 0, 0, 0.4);
  position: absolute;
  text-align: center;
  background: linear-gradient(to bottom, rgb(24, 24, 24) 97%, white);
  margin-left: calc(var(--black-key-width) / -2);
  z-index: 2;
  border-bottom: solid rgb(54, 54, 54) 10px;
  border-left: solid black 3px;
  border-right: solid black 3px;
}

.the-keyboard__key[data-active="true"] {
  border-bottom: var(--botder-bottom);
  border-left: var(--botder-left);
  border-right: var(--botder-right);
  box-shadow: var(--box-shadow);
  background: var(--background);
}

.the-keyboard__key.--white[data-active="true"] {
  --botder-bottom: solid rgb(230, 230, 230) 5px;
  --botder-left: solid rgb(109, 109, 76) 2px;
  --botder-right: solid rgb(109, 109, 76) 2px;
  --box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
}

.the-keyboard__key.--black[data-active="true"] {
  --botder-bottom: solid rgb(54, 54, 54) 4px;
  --box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.4);
  --background: linear-gradient(to bottom, rgb(24, 24, 24) 100%, white);
}

.the-keyboard__label {
  position: absolute;
  display: block;
  bottom: 30px;
  right: 0;
  left: 0;
  width: 100%;
  text-align: center;
  pointer-events: none;
  font-size: small;
}
