.Keyboard {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  user-select: none;
  --key-white-num: 26;
  --key-white-width: calc(
    var(--keyboard-width, 1024px) / var(--key-white-num) / 2
  );
  --key-white-height: 200px;
  --key-black-width: calc(var(--key-white-width) * 3 / 4);
  --key-black-height: calc(var(--key-white-height) * 19 / 29);
}

.Keyboard__key-container {
  position: relative;
}

.Keyboard__key--white {
  width: var(--key-white-width);
  height: var(--key-white-height);
  background-color: white;
  z-index: 1;
  border: solid 1px black;
  border-bottom: solid rgb(230, 230, 230) 20px;
  box-shadow: 0 7px 3px 0 rgba(0, 0, 0, 0.3);
  transition: 100ms;
  color: black;
  cursor: pointer;
}

.Keyboard__key--white.Keyboard__key--pressing {
  border-bottom: solid rgb(230, 230, 230) 5px;
  border-left: solid rgb(109, 109, 76) 2px;
  border-right: solid rgb(109, 109, 76) 2px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
}

.Keyboard__key--black {
  position: absolute;
  width: var(--key-black-width);
  height: var(--key-black-height);
  background: linear-gradient(to bottom, rgb(24, 24, 24) 97%, white);
  margin-left: calc(var(--key-black-width) / -2);
  z-index: 2;
  border-bottom: solid rgb(54, 54, 54) 10px;
  border-left: solid black 3px;
  border-right: solid black 3px;
  box-shadow: 5px 1px 2px 0 rgba(0, 0, 0, 0.4);
  transition: 100ms;
  color: white;
  text-align: center;
  cursor: pointer;
}

.Keyboard__key--black.Keyboard__key--pressing {
  border-bottom: solid rgb(54, 54, 54) 4px;
  box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.4);
  background: linear-gradient(to bottom, rgb(24, 24, 24) 100%, white);
}

.Keyboard__label {
  position: absolute;
  display: block;
  bottom: 30px;
  right: 0;
  left: 0;
  width: 100%;
  text-align: center;
  pointer-events: none;
  font-size: small;
}
